*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(image/clapbg.jpg);
    background-size: cover;
}

.navigation{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    height: 270px;
    font-size: calc(5rem);
    
    color: red;
    
}
.context{
    margin-bottom: 24px;
    padding-top: 18px;
    position: sticky;
    top: -12px;
    background-color: black;
    padding-bottom: 18px;
    opacity: 0.7;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 52px;
    
}
.ul li a{
    display: flex;
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: calc(0.5rem + 1vw);
    color: rgb(214, 213, 213);
    /* border: 2px solid; */
    display: block;
    padding: 0px 7px;
    border-radius: 0px;
    text-decoration: none
}
.ul li a:hover{
    color:black;
    text-decoration: underline;
    background-color: grey;
}

.hr1{
    align-content: center;
    width: calc(55%);
}
.home{
    padding: 3px 34px;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    margin: 0px 0px;
    padding-top: 12px;
    display: block;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
    margin-bottom: 155px;
    margin-top: 64px;
  
}
.home::before{
    content: '';
    background-image: url(image/clapbg.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat;
    background-position: top; */
    display: block;
    position: absolute;
    /* height: 100vh;
    width: 100%; */
    inset: 0px;
    z-index: -1;
}

/* ................................................................................ */
.film_container{
    background-image: url(image/r1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    /* border: 2px solid black; */
    height: 150%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.tit{
    text-decoration: underline;
    margin-top: 0px;
    margin-left: 12px;
    padding-top: 11px;
    padding-left:5px ;
    font-size: 3em;
    color: aliceblue;
}

.films{
    background-color: aliceblue;
    border: 2px solid greenyellow;
    height: 165px;
    width: 115px;
    margin: 2.3rem;
    padding: 0rem;
    transition: all 0.2s ease-in;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    box-sizing: border-box;
    flex-shrink: 5;
}
/* #mov{
    background-image: url(super.jpg);
    background-size: cover;
    background-position: center;
} */
.films:hover{
    transform: scale(1.5);
    box-shadow:  8px 8px 20px 0px rgb(0, 0, 0);
    border-radius: 10px;

}


/* .................................image content................................ */
 #item1{
    background-image: url(movimg/super.jpg);
    background-size: cover;
    background-position: center;
    flex-shrink: 6;
} 
/* ,,............................................................................... */


.name{

    font-size: 0.9em;
    font-weight: bold;
    background-color: black;
    opacity: 0.7;
    color: aliceblue;
    align-self: center;
    min-height: 10px;
    width: 100%;
    order: 1;
}
.name:hover{
    color: yellow;
}
.btn{
    align-items: baseline;
    align-self: center;
    width: 99%;
    min-height: 30px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    opacity: 0.3;
}
.btn:hover{
    opacity: 0.7;
}
.va{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    
}
.va:hover{
    text-decoration: underline;
    cursor: pointer;
    color: black;
    
    
    /* background-color: grey; */
}


/* ......................mallll,,,,,,,,,,................................. */
.film_container2{
    background-image: url(image/mal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    width: 100%;
    margin-top: 6px;
    /* border: 2px solid black; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 4;
    /* justify-content: space-evenly; */
}
.tit2{
    text-decoration: underline;
    margin-top: 0px;
    margin-left: 12px;
    padding-top: 11px;
    padding-left:5px ;
    font-size: 3em;
    color: aliceblue;
}
/* .................................hindi......................................... */
.film_container4{
    background-image: url(image/hin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    width: 100%;
    margin-top: 6px;
    /* border: 2px solid black; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 4;
    /* justify-content: space-evenly; */
}
.tit4{
    text-decoration: underline;
    margin-top: 0px;
    margin-left: 12px;
    padding-top: 11px;
    padding-left:5px ;
    font-size: 3em;
    color: aliceblue;
}

/* ...........................world films............................................. */
.film_container5{
    background-image: url(image/hol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    width: 100%;
    margin-top: 6px;
    /* border: 2px solid black; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 4;
    /* justify-content: space-evenly; */
}
.tit5{
    text-decoration: underline;
    margin-top: 0px;
    margin-left: 12px;
    padding-top: 11px;
    padding-left:5px ;
    font-size: 3em;
    color: aliceblue;
}
/* .................................art films......................................... */
.film_container6{
    background-image: url(image/art.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    width: 100%;
    margin-top: 6px;
    /* border: 2px solid black; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 4;
    /* justify-content: space-evenly; */
}
.tit6{
    text-decoration: underline;
    margin-top: 0px;
    margin-left: 12px;
    padding-top: 11px;
    padding-left:5px ;
    font-size: 3em;
    color: aliceblue;
}
